*{
    margin: 0;
    padding: 0;
}
/* css初始化 */
.container{
    width: 1200px;
    margin: 0 auto;
}
body{
    height: 2000px;
    background-color: #f3f5f7;
}
a{
    color: #050505;
    text-decoration: none;
}
ul{
    list-style: none;
}
.clearfix::before,.clearfix::after{
    display: table;
    content: "";

}
input{
    border: 0;
    box-sizing: border-box;
}
.clearfix::after{
    clear: both;
}
.clearfix{
    *zoom: 1;
}
header{
    height: 100px;
    overflow: hidden;
}
nav{
width: 1200px;
height: 42px;
margin: 26px auto;
}
.logo{
    float: left;
}
.navbar{
    float: left;
    height: 42px;
    line-height: 42px;
    margin-left: 50px;
}
.navbar li{
    float: left;
    
}
.navbar li a{
    padding: 0 8px;
   
    display: block;
    height: 42px;
}
.navbar li a:hover{
    border-bottom: 2px solid #00a4ff;
    
}
/* 搜索框 */
.search {
    width: 410px;
    height: 38px;
   /*  border: 1px solid #00a4ff; */
    float: left;
    margin-left: 10px;
}
.search input[type=text]{
/*     background-color: pink; */
    width: 360px;
    height: 38px;
    padding-left: 20px;
    float: left;
    border: 1px solid #00a4ff;
    
}
.search input[type=submit]{
    width: 50px;
    height: 38px;
    float: left;
    background: #00a4ff url(../images/serch_06.png) center center no-repeat;
}
/* 搜索框结束，个人中心开始 */
.personal{
    float: right;
    height: 42px;
    line-height: 42px;   
    margin: 0 60px  0 35px;/* 上右15下左35 */
}
 .personal img{
    margin: 0 20px;
}

/* 个人中心结束，左边栏开始*/
.banner{
    height: 420px;
    background-color: #1c036c;
    
}
.banner-in{
    height: 420px;
    background: url(../images/banner_03.png) 0 0 no-repeat;
    position: relative;
}
.sildebar{
    height: 420px;
    width: 190px;
    background: rgba(0,0,0,0.3);
    float: left;
}
.sildebar li a{
	color: #fff;
	font-size: 14px;
	padding: 0 20px;
    display: block;
    height: 45px;
	line-height: 45px;
}
.sildebar a span{
	float: right;
    font-family: arial;
    font-weight: 200;
}
.sildebar  li a:hover{
	color: #00a4ff;
}
.timetable{
    float: right;
    width: 230px;
    height: 300px;
    background-color: #fff;
    margin-top: 50px;
}
.timetable dt{
    height: 50px;
    line-height: 50px;
    background-color: #9bceea;
    text-align: center;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 5px;
}
.timetable dd{
    width: 193px;
    height: 60px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    padding-top: 12px;
    box-sizing:border-box;
}
.timetable dd:last-child{
    border:0;
}
.timetable dd h4{
    font-size: 16px;
    font-weight: normal;
    color: #4e4e4e;
}
.timetable dd p{
    color: #a5a5a5;
    font-size: 14px;
}
.timetable dd a{
    display: block;
    height: 38px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
    font-weight: 700;
}
.timetable dd a:hover{
    background-color: #00a4ff;
    color: #fff;
}
/* 小圆点 */
.circle{
    width: 180px;
    height: 22px;
    /* background-color: #000; */
    position: absolute;
    left: 50%;/* 父盒子宽度的一半 */
    bottom: 10px;
    margin-left:-90px; /* 水平居中 */

}
.circle li{
    width: 12px;
    height: 12px;
    background:rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    float: left;
    margin: 6px 8px;
    
}
.circle .current{
    width: 19px;
    border-radius: 5px;
    background: #fff;
}
/* 精品推荐 */
.recommend{
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    margin-top: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0,0.2 ) /* 盒子阴影  水平位置 垂直位置  模糊距离 */
    
}
.recommend a{
    padding:  0 30px;
    border-right:1px solid #ccc; 
}
.recommend a:hover{
    color: #00a4ff;
}
.recommend a:first-child{
    color: #00a4ff;
}
.recommend a:last-child{
    color: #00a4ff;
    border: 0;
    float:right;
    font-size: 14px;
    font-weight: 700;
}
/* 精品模块 */
.recom-products{
    margin-top: 35px;

}
.recom-hd{
    height: 40px;
    /* background-color: pink; */
}
.recom-hd h4{
    float: left;
    color: #494949;
}
.recom-hd a{
    float: right;
    margin-right: 28px;
    margin-top: 10px;
    font-size: 14px;
    /* color: #00a4ff;*/
    color: #a5a5a5;
}
.recom-hd a:hover{
    color: #00a4ff;
}

.recom-bd ul li{
    width: 228px;
    height: 270px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    position: relative;
}
.recom-bd ul li:nth-child(5n){
   /*  margin: 0; */
    margin-right: 0;
} 
.recom-bd li h5,
.recom-bd li p{ 
    padding: 0 20px 0 24px;
    margin-top: 12px;
}
.recom-bd li h5{
    line-height: 22px;
    font-weight: normal;
}
.recom-bd li span{
    color: rgb(255, 133, 45);
}




/* 编程入门 */
.recom-bt{
    margin-top: 600px;
    height: 40px;
    line-height: 40px;
    /* background-color: pink;  */
    position: relative;
}
.recom-bt h4{
    float: left;
    color: #494949;
    
}
.recom-bt ul{
   /*  position: relative; */
    /* left: 50%;
    margin-left:-75px;  */
    text-align: center;
}
.recom-bt ul li{
    width: 70px;
    height: 40px;
    display: inline-block;
    margin: 0 16px;
    /* float: left; */ 
}
.recom-bt ul li:nth-child(1){
    color: #00a4ff;
}

.recom-bt  a{
   
   position: absolute;
   right: 0;
   top: 0;
   margin-right: 28px;
    font-size: 14px;
    color: #a5a5a5;
}
.recom-bt a:hover{
    color: #00a4ff;
}

.recom-bc{
    /* width: 1200px; */
    height: 393px;
   /*  background-color:pink; */
    position: relative;
}
.remcom-bc-img1{
    width: 227px;
    
    position: relative;
}
.remcom-bc-img1 h4{
    position: absolute;
    color: #fff;
    left: 38px;
    top: 47px; 
   /*  padding: 0 0 78px 36px; */
    margin-top: 12px;
    
}
.remcom-bc-img1 h4:nth-child(2){
    position: absolute;
    color: #fff;
    left: 38px;
    top: 80px; 
   /*  padding: 0 0 78px 36px; */
    margin-top: 12px;
    
}
.remcom-bc-img2{   
    height: 80px;
   /*  background-color: red; */
    position: absolute;
    right: 0;
    top: 0;
}