*{
    margin: 0;
    padding: 0;
}
/* css初始化 */
.container{
    width: 1200px;
    margin: 0 auto;
}
body{
    background-color: #fff;
}
a{
    color: #050505;
    text-decoration: none;
}
ul{
    list-style: none;
}
.clearfix::before,.clearfix::after{
    display: table;
    content: "";

}
input{
    border: 0;
    box-sizing: border-box;
}
.clearfix::after{
    clear: both;
}
.clearfix{
    *zoom: 1;
}
header{
    height: 100px;
    overflow: hidden;
}
nav{
width: 1366px;
height: 42px;
margin: 26px auto;
}
.logo{
    float: left;
}
.navbar{
    float: left;
    height: 42px;
    line-height: 42px;
    margin-left: 50px;
}
.navbar li{
    float: left;
    
}
.navbar li a{
    padding: 0 8px;
   
    display: block;
    height: 42px;
}
.navbar li a:hover{
    border-bottom: 2px solid #00a4ff;
    
}
/* 搜索框 */
。search{
    width: 410px;
    height: 38px;
    border: 1px solid #00a4ff;
    float: left;

}
.search input[type=text]{
/*     background-color: pink; */
    width: 360px;
    height: 38px;
    padding-left: 20px;
    float: left;

}
.search input[type=submit]{
    width: 50px;
    height: 38px;
    float: left;
    background: #00a4ff url(/images/search.png) center center no-repeat;
}
/* 搜索框结束，个人中心开始 */
.personal{
    float: right;
    height: 42px;
    line-height: 42;
    margin: 0 15px  0 35px;
}
.personal img{
    margin: 0 8px;
}
.banner{
    height: 420px;
    background-color: #1c036c;

}
.banner-in{
    background: url(/images/img1.jpg) 0 0 no-repeat;
}
.sildebar{
    height: 420px;
    width: 190px;
    background-color:rgba( 0, 0, 0, 0.3);
}
.sildebar li a{
    color: #fff;
   font-size: 14px;
   padding: 0 24px;
   /* a是行内元素，需要转换 */
   display:block;
  /*  height: 45px; */
   line-height: 45px;
}
.sildebar li a:hover{
    color: #00a4ff;
}
.sildebar a span{
    float: left;
    font-family: Arial;
}